* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Lato', sans-serif;
  transition: 0.8s;
  margin: 0 0;
}

#container {
  width: 50%;
  display: flex;
  margin: auto;
}

#scores {
  padding: 80px 160px;
}

#recent-scores {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

#scores-list {
  list-style-type: none;
  padding: 10px 5px;
  border: 2px solid #000;
  width: 170%;
}

form {
  padding: 80px 100px;
  display: flex;
  flex-direction: column;
}

form input {
  padding: 10px 10px;
  margin: 5px 0;
  width: 120%;
}
